*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.tokens
*.orig

# ide and tools
.vs/
.idea/
*resharper*
_ReSharper*/
[Bb]uild[Ll]og.*
[Tt]est[Rr]esult*
*.[Pp]ublish.xml
*.orig
*.tmp_proj
*.rej
Logs/


# bin
[Bb]in
obj/
[Db]ebug/
[Rr]elease/
