<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITeleoptiRtaService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/TeleoptiWFM/RTA/TeleoptiRtaService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITeleoptiRtaService"
                contract="RTA.ITeleoptiRtaService" name="BasicHttpBinding_ITeleoptiRtaService" />
        </client>
    </system.serviceModel>

    <appSettings>
      <add key="RTAKey" value="!#?atAbgT%" />
      <add key="sourceId" value="1" />
      <add key="platformTypeId" value="420D26A8-D2B8-4325-81C2-DAA15D211571" />
    </appSettings>
</configuration>